@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Nanum Gothic', sans-serif;
}
code{
	font-family: 'Nanum Gothic Coding', monospace;
	color: aliceblue;
}
#main_title{
	margin-top: 100px;
	margin-bottom: 100px;
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
}
.steps{
	width: 600px;
	margin: 0 auto;
}
.sub_title{
	 font-size: 25px;
	 margin-top: 50px;
 }
.sub_title2{
	color : darkblue;
	font-size: 25px;
	margin-top: 50px;
}
.content{
	font-size: 18px;
}
.step_final{
	font-size: 25px;
}

.sub_content {
	font-size: 21px;
	margin-top: 3px;
}

.sub_content2 {
	font-size: 15px;
	margin-top: 3px;
	margin-left: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
