@charset "UTF-8";
/* CSS Document */

body{
	font-family: 'Nanum Gothic', sans-serif;
}
code{
	font-family: 'Nanum Gothic Coding', monospace;
	color: aliceblue;
}
#main_title{
	margin-top: 50px;
	margin-bottom: 50px;
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
}
.steps{
	width: 800px;
	margin: 0 auto;
}
.sub_title{
	font-size: 25px;
	margin-top: 60px;
}
.content{
	font-size: 18px;
}
.step_final{
	font-size: 25px;
}
